
{% extends 'base.html' %}
{% load static %}
{# {% load crispy_forms_tags %} #}

{% block head %}
	<link rel="stylesheet" href="{% static 'css/padrao.css' %}">
{% endblock %}
{% block title %}Formulário{% endblock %}

{% block content %}

<div>
<h1>RESULTADO</h1>
<form method="post">
{% csrf_token %}
<select name='resultado'>
	<option value={{ vum }}>{{ tum }}</option>
 	<option selected value={{ vdois }}>{{ tdois }}</option>
	<option value={{ vtres }}>{{ ttres }}</option>
	<option value={{ vquatro }}>{{ tquatro }}</option>
</select>
<p>
<div>
	<button type="submit" class="btn-primary">GERAR EXCEL</button>
</div>
</form>
<p><a href="{% url 'logout' %}">logout</a></p>
<!-- <img src="{% static "image/logo.jpg" %}" alt="My image"> -->

<a href="{% static 'excel/ponto.xlsx' %}" class="btn btn-secondary px-4 py-2 btn-sm">Download CV</a>

{% endblock %}

{% block javascript %}
<script>
	document.getElementById('buttonID').onclick=function(){
	h2.innerHTML = "Hide Images"

    //Do whatever processing you need  <button type="submit" class="btn-primary" onclick="funcao()"></button>
    //document.getElementById('formID').submit();
};
</script>
<script>
function funcao() {
    document.getElementById("parag").innerHTML = $("#resultado option:selected").val();
}
</script>
{% endblock %}